body {background-color:whitesmoke 
}
body{font-family: 'Kanit', sans-serif;}

.heading {
    color: rgb(71, 65, 83);
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    border: 7px double darkslategray;
}
.heading2{ color: rgb(47, 5, 130);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    border: 7px double rgb(121, 122, 158);}


    